.input-search {
    margin: 0 20px;
}

.input-text {
    border: 1px solid #000;
    padding: 8px;
    border-radius: 4px;
    /*cursor: pointer;*/
}

input-text:focus {
    border: 2px solid #286bc2;
}