table {
    margin: 20px auto;
    border-spacing: 0;
}

.table-head {
    border: 1px solid grey;
}

th {
    border-bottom: 1px solid grey;
    padding: 7px;
}

td {
    border-bottom: 1px solid grey;
    padding: 7px;
}